.proggress {
  border: #fff solid 1px;
  border-radius: 5px;
}
.proggress span {
  display: block;
  background: #53b7ff;
  height: 18px;
}
a:focus,
a:hover,
a {
  color: #0d89be;
  text-decoration: none !important;
}
html,
body {
  color: #5b5b5b;
}
ul,
li,
ol {
  list-style: none;
  padding: 0;
}
.oh {
  overflow: hidden;
}
select,
input,
img,
select {
  vertical-align: middle;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #069;
}
body,
input,
button,
select,
textarea {
  color: #555;
}
.center {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.red {
  color: #e00;
}
.fff {
  color: #fff;
}
.fffa {
  color: #fff;
}
.h30 {
  height: 30px;
}
.h50 {
  height: 50px;
}
.h70 {
  height: 70px;
}
.Right {
  text-align: right;
}
.Left {
  text-align: left;
}
.Center {
  text-align: center;
}
.clr:after {
  zoom: 1;
}
.clr:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  content: "";
  height: 0;
}
input[type=text] {
  border: none;
}
.ipt {
  width: 100%;
}
.ipt90 {
  width: 90px;
}
.ipt100 {
  width: 100px;
}
.ipt120,
.select120 {
  width: 120px;
}
.select100 {
  width: 100px;
}
.rad {
  color: #147dc8;
}
.gay {
  color: #a0a0a0;
}
.Left {
  text-align: left;
}
.Rright {
  text-align: right;
}
.Center {
  text-align: center;
}
input {
  outline: none;
}
input:-webkit-autofill {
  background-color: transparent !important;
}
input[type=button],
a[type=button],
input[type=submit] {
  display: inline-block;
  padding: 0;
  height: 26px !important;
  background: #d5000c !important;
  border: #9e0000 solid 1px;
  color: #fff !important;
  text-align: center;
  font-size: 14px !important;
  border-radius: 3px;
  margin: 0 3px;
  font-family: "Microsoft YaHei";
  cursor: pointer;
  text-indent: 0;
}
a[type=button] {
  line-height: 26px;
}
input[disabled],
a[disble] {
  background: #fafafa !important;
  border-color: #e0e0e0 !important;
  color: #a0a0a0 !important;
}
input[type=checked] {
  border: none;
}
.btn {
  padding-left: 20px;
  padding-right: 20px;
  background: -webkit-linear-gradient(#00b1fd, #0c8cc2) !important;/* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#00b1fd, #0c8cc2) !important;/* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#00b1fd, #0c8cc2) !important;/* Firefox 3.6 - 15 */
  background: linear-gradient(#00b1fd, #0c8cc2) !important;/* 标准的语法 */
  color: #fff !important;
}
.btn:action {
  background: -webkit-linear-gradient(#00b1fd, #0c8cc2) !important;/* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#00b1fd, #0c8cc2) !important;/* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#00b1fd, #0c8cc2) !important;/* Firefox 3.6 - 15 */
  background: linear-gradient(#00b1fd, #0c8cc2) !important;/* 标准的语法 */
}
.btn120 {
  width: 120px;
}
.btn90 {
  width: 90px;
}
.pad10 {
  padding: 10px;
}
.pad20 {
  padding: 20px;
}
.padV20 {
  padding: 0 20px;
}
.pad0050 {
  padding: 0 50px !important;
}
.mgT10 {
  margin-top: 10px;
}
.mgB10 {
  margin-bottom: 10px;
}
.mgB20 {
  margin-bottom: 20px;
}
.mg10 {
  margin: 10px;
}
.mgR500 {
  margin-right: 500px;
}
input[type=button].BIG_BUTTON:hover,
a[type=button].BIG_BUTTON:hover {
  background: #CF960D !important;
}
input[type=button].BIG_BUTTON,
a[type=button].BIG_BUTTON,
input[type=button].BIG_BUTTON:active,
a[type=button].BIG_BUTTON:active {
  min-width: 180px;
  font-size: 20px !important;
  border-color: #C5AD5A;
  color: #FFF !important;
  background: #FFBD20 !important;
  font-weight: bold;
  letter-spacing: 0.3em;
  height: 40px !important;
}
input[type=button][disabled].BIG_BUTTON,
a[type=button][disabled].BIG_BUTTON,
input[type=button][disabled].BIG_BUTTON:active,
a[type=button][disabled].BIG_BUTTON:active {
  background: #ccc !important;
  color: #F8F8F8 !important;
}
.oh {
  overflow: hidden;
}
.iss-lineBox {
  border: #d4d4d4 solid 1px;
  padding: 10px;
  background: #fff;
}
.iss-lineBox h4 {
  background: #F4F4F4;
  margin: -10px;
  padding: 8px;
  margin-bottom: 10px;
  color: #c00;
  font-size: 14px;
  border-bottom: #d4d4d4 solid 1px;
}
textarea {
  font-size: 12px;
}
input[type=text],
select,
textarea {
  border: none;
  border: #d4d4d4 solid 1px;
  height: 18px;
  line-height: 18px;
  padding: 3px 2px;
}
select {
  padding: 0;
  height: 24px;
  border: none;
  border: #d4d4d4 solid 1px;
}
input[type=radio],
input[type=checkbox] {
  margin-left: 10px;
}
input[type=radio]:first-child,
input[type=checkbox]:first-child {
  margin-left: 0;
}
/*弹出层*/
.ui-dialog-outer {
  text-align: left;
  outline: none;
  font-size: 14px;
  position: relative;
}
.ui-dialog-border {
  border: 0 none;
  margin: 0;
  border-collapse: collapse;
}
/*.ui-dialog-header, .ui-dialog-footer { padding:0; }*/
.ui-dialog-iframe .ui-dialog-content {
  height: 100%;
  background: url(../img/loading5.gif) no-repeat center center;
}
/*标题栏*/
.ui-dialog-header {
  position: relative;
/*  height:36px; */ }
.ui-dialog-title {
  overflow: hidden;
  cursor: default;
  height: 36px;
  line-height: 36px;
  padding: 0 28px 0 20px;
  background: #147dc8 url(../img/u1789.png) no-repeat 10px center;
  color: #fff;
  text-indent: 17px;
}
.ui-dialog-close {
  display: block;
  outline: none;
  background-position: left top;
  position: absolute;
  overflow: hidden;
  right: 10px;
  top: 10px;
  height: 18px;
  width: 18px;
  text-indent: -9999em;
  cursor: pointer;
  background-image: url(../img/x.png);
}
.ui-dialog-close:hover {
  text-decoration: none;
  background-position: left bottom;
}
/*loading*/
.ui-dialog-loading {
  width: 80px;
  height: 50px;
  overflow: hidden;
  background: url('../img/loading-32-32.gif') no-repeat 30px center;
  line-height: 50px;
  padding-left: 80px;
  font-size: 16px;
}
/*按钮组*/
.ui-dialog-buttons {
  padding: 20px;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
}
.ui-dialog-button {
  background: -webkit-linear-gradient(#00b1fd, #0c8cc2);/* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#00b1fd, #0c8cc2);/* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#00b1fd, #0c8cc2);/* Firefox 3.6 - 15 */
  background: linear-gradient(#00b1fd, #0c8cc2);/* 标准的语法 */
  color: #fff !important;
  margin-left: 15px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0 24px;
  width: auto;
  border-radius: 2px;
  background-color: #fff;
  color: #666;
  outline: none;
  font-size: 14px;
}
.ui-dialog-button:action {
  background: -webkit-linear-gradient(#00b1fd, #0c8cc2);/* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#00b1fd, #0c8cc2);/* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#00b1fd, #0c8cc2);/* Firefox 3.6 - 15 */
  background: linear-gradient(#00b1fd, #0c8cc2);/* 标准的语法 */
}
.ui-dialog-buttons a:first-child {
  margin-left: 0;
  color: #fff;
}
.ui-dialog-button:hover {
  opacity: 0.9;
  color: #666;
  background-color: #f3f3f3;
}
/*无效按钮*/
.ui-dialog-button-disabled,
.ui-dialog-button-disabled:hover,
.ui-dialog-button-disabled:active {
  cursor: default;
  color: #666;
  background: #ddd;
  border-color: #999;
  filter: alpha(opacity=50);
  opacity: .5;
  text-decoration: none;
}
/*高亮*/
.ui-dialog-button-on {
  background: -webkit-linear-gradient(#fdc401, #d79a15) !important;/* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#fdc401, #d79a15) !important;/* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#fdc401, #d79a15) !important;/* Firefox 3.6 - 15 */
  background: linear-gradient(#fdc401, #d79a15) !important;/* 标准的语法 */
  color: #fff !important;
  color: #fff;
}
.ui-dialog-button-on:action {
  background: -webkit-linear-gradient(#fdc401, #d79a15) !important;/* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#fdc401, #d79a15) !important;/* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#fdc401, #d79a15) !important;/* Firefox 3.6 - 15 */
  background: linear-gradient(#fdc401, #d79a15) !important;/* 标准的语法 */
}
.ui-dialog-button-on:hover {
  color: #fff !important;
  text-decoration: none;
  opacity: 0.9;
}
/*遮罩*/
.ui-dialog-mask {
  background-color: #000;
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.ui-dialog-inner {
  background: #FFF;
  border: 1px solid #bab0b8;
}
/*没有标题*/
.ui-dialog-noTitle .ui-dialog-title {
  display: none;
}
/*.ui-dialog-noTitle .ui-dialog-title-outer{height:16px;}*/
.ui-dialog-noTitle .ui-dialog-close {
  background-position: 0 0;
}
.ui-dialog-noTitle .ui-dialog-close:hover,
.ui-dialog-noTitle .ui-dialog-close:active {
  background-position: 0 -16px;
}
/*视觉*/
@media screen and (min-width: 0) {
  .ui-dialog-outer {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
  }
  .ui-dialog-visible .ui-dialog-outer {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*扩展开始*/
/*alert*/
.msc-dialog-alert .ui-dialog-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow: auto;
}
.msc-dialog-alert .ui-dialog-noTitle .ui-dialog-content {
  padding-top: 40px;
}
.msc-dialog-alert .ui-dialog-content h3 {
  font-size: 16px;
  color: #111;
}
.msc-dialog-alert .ui-dialog-content p {
  font-size: 12px;
}
.msc-dialog-alert .ui-dialog-inner {
  border: none;
}
/*简单提示*/
.msc-dialog-tips .ui-dialog-border {
  border-color: #ccc;
}
.msc-dialog-tips .ui-dialog-content {
  padding: 16px 30px 16px 38px;
  color: #333;
}
.msc-dialog-tips .ui-dialog-title-outer {
  display: none;
}
.msc-dialog-tips-icon {
  position: absolute;
  left: 16px;
  top: 20px;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
.msc-dialog-tips-success-icon {
  background-position: 0 -110px;
}
.msc-dialog-tips-warning-icon {
  background-position: 0 -94px;
}
.msc-dialog-tips-error-icon {
  background-position: 0 -78px;
}
/*loading*/
.msc-dialog-loading .ui-dialog-header {
  display: none;
}
/*v6的吸附*/
.ui-dialog-top-left .ui-dialog-outer,
.ui-dialog-top .ui-dialog-outer,
.ui-dialog-top-right .ui-dialog-outer {
  top: -8px;
}
.ui-dialog-bottom-left .ui-dialog-outer,
.ui-dialog-bottom .ui-dialog-outer,
.ui-dialog-bottom-right .ui-dialog-outer {
  top: 8px;
}
.ui-dialog-left-top .ui-dialog-outer,
.ui-dialog-left .ui-dialog-outer,
.ui-dialog-left-bottom .ui-dialog-outer {
  left: -8px;
}
.ui-dialog-right-top .ui-dialog-outer,
.ui-dialog-right .ui-dialog-outer,
.ui-dialog-right-bottom .ui-dialog-outer {
  left: 8px;
}
.ui-dialog-arrow-a,
.ui-dialog-arrow-b {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 0 dashed transparent;
}
.ui-dialog-top-left .ui-dialog-arrow-a,
.ui-dialog-top .ui-dialog-arrow-a,
.ui-dialog-top-right .ui-dialog-arrow-a {
  bottom: -8px;
  border-top: 8px solid #bab0b8;
  border-bottom: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.ui-dialog-top-left .ui-dialog-arrow-b,
.ui-dialog-top .ui-dialog-arrow-b,
.ui-dialog-top-right .ui-dialog-arrow-b {
  bottom: -7px;
  border-top: 8px solid #fff;
  border-bottom: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.ui-dialog-top-left .ui-dialog-arrow-a,
.ui-dialog-top-left .ui-dialog-arrow-b {
  left: 15px;
}
.ui-dialog-top .ui-dialog-arrow-a,
.ui-dialog-top .ui-dialog-arrow-b {
  left: 50%;
  margin-left: -8px;
}
.ui-dialog-top-right .ui-dialog-arrow-a,
.ui-dialog-top-right .ui-dialog-arrow-b {
  right: 15px;
}
.ui-dialog-bottom-left .ui-dialog-arrow-a,
.ui-dialog-bottom .ui-dialog-arrow-a,
.ui-dialog-bottom-right .ui-dialog-arrow-a {
  top: -8px;
  border-bottom: 8px solid #bab0b8;
  border-top: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.ui-dialog-bottom-left .ui-dialog-arrow-b,
.ui-dialog-bottom .ui-dialog-arrow-b,
.ui-dialog-bottom-right .ui-dialog-arrow-b {
  top: -7px;
  border-bottom: 8px solid #fff;
  border-top: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.ui-dialog-bottom-left .ui-dialog-arrow-a,
.ui-dialog-bottom-left .ui-dialog-arrow-b {
  left: 15px;
}
.ui-dialog-bottom .ui-dialog-arrow-a,
.ui-dialog-bottom .ui-dialog-arrow-b {
  margin-left: -8px;
  left: 50%;
}
.ui-dialog-bottom-right .ui-dialog-arrow-a,
.ui-dialog-bottom-right .ui-dialog-arrow-b {
  right: 15px;
}
.ui-dialog-left-top .ui-dialog-arrow-a,
.ui-dialog-left .ui-dialog-arrow-a,
.ui-dialog-left-bottom .ui-dialog-arrow-a {
  right: -8px;
  border-left: 8px solid #bab0b8;
  border-right: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.ui-dialog-left-top .ui-dialog-arrow-b,
.ui-dialog-left .ui-dialog-arrow-b,
.ui-dialog-left-bottom .ui-dialog-arrow-b {
  right: -7px;
  border-left: 8px solid #fff;
  border-right: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.ui-dialog-left-top .ui-dialog-arrow-a,
.ui-dialog-left-top .ui-dialog-arrow-b {
  top: 15px;
}
.ui-dialog-left .ui-dialog-arrow-a,
.ui-dialog-left .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%;
}
.ui-dialog-left-bottom .ui-dialog-arrow-a,
.ui-dialog-left-bottom .ui-dialog-arrow-b {
  bottom: 15px;
}
.ui-dialog-right-top .ui-dialog-arrow-a,
.ui-dialog-right .ui-dialog-arrow-a,
.ui-dialog-right-bottom .ui-dialog-arrow-a {
  left: -8px;
  border-right: 8px solid #bab0b8;
  border-left: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.ui-dialog-right-top .ui-dialog-arrow-b,
.ui-dialog-right .ui-dialog-arrow-b,
.ui-dialog-right-bottom .ui-dialog-arrow-b {
  left: -7px;
  border-right: 8px solid #fff;
  border-left: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.ui-dialog-right-top .ui-dialog-arrow-a,
.ui-dialog-right-top .ui-dialog-arrow-b {
  top: 15px;
}
.ui-dialog-right .ui-dialog-arrow-a,
.ui-dialog-right .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%;
}
.ui-dialog-right-bottom .ui-dialog-arrow-a,
.ui-dialog-right-bottom .ui-dialog-arrow-b {
  bottom: 15px;
}
.w980 {
  width: 980px;
  margin: 0 auto;
}
.G-Header {
  background: #147dc8;
  height: 114px;
  overflow: hidden;
  text-align: right;
}
.G-Header img {
  margin-top: 20px;
  float: left;
}
.G-Header .Right-info {
  float: right;
  margin-top: 17px;
  color: #fff;
}
.G-Header .Right-info a {
  color: #fff !important;
}
.G-Header .Right-info P {
  margin-bottom: 5px;
}
.min-tableBox {
  margin-bottom: 50px;
  margin-top: 30px;
}
.min-tableBox div.left {
  width: 240px;
  height: 568px;
  border: #ccc solid 1px;
  background: #f3f3f3;
}
.min-tableBox div.left h3 {
  height: 45px;
  line-height: 45px;
  background: #e7e7e7;
  margin: 0;
  text-indent: 2rem;
}
.min-tableBox div.left ul {
  padding: 0 10px;
}
.min-tableBox div.left ul li {
  height: 40px;
  line-height: 40px;
  background: url(../img/d_52.jpg) repeat-x left top;
  font-size: 14px;
}
.min-tableBox div.left ul li:first-child {
  background: none;
}
.min-tableBox div.left ul li label {
  font-weight: normal;
}
.min-tableBox div.left ul li img {
  vertical-align: top;
}
.min-tableBox .G-BOX {
  margin-left: 270px;
  height: 568px;
}
.g-contents {
  padding: 0 35px;
}
.g-contents h5 {
  font-size: 24px;
  color: #0d89be;
  padding: 25px 0;
}
.g-contents p {
  font-size: 16px;
}
.g-contents .p1 {
  min-height: 90px;
}
.g-contents .p2 {
  min-height: 150px;
}
.g-contents .p3 {
  margin-top: 30px;
}
.g-contents .p3 button {
  margin-right: 30px;
}
.g-contents .cz h6 {
  font-size: 14px;
}
.g-contents .cz p {
  font-size: 14px;
  color: #999;
}
.minpapersform-form {
  margin-top: 50px;
}
.minpapersform-form th,
.minpapersform-form td {
  vertical-align: top;
}
.minpapersform-form th {
  width: 150px;
  text-align: right;
  padding-top: 5px;
}
.minpapersform-form td .addFile {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  margin-left: 10px;
}
.minpapersform-form td .addFile input {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px !important;
  height: 40px;
  opacity: 0;
}
.minpapersform-form td input[type="text"] {
  float: left;
}
.minpapersform-form td input[type="text"],
.minpapersform-form td textarea {
  height: 30px;
  width: 324px;
  padding: 5px;
}
.minpapersform-form td input[type="file"] {
  width: 60px;
}
.minpapersform-form td textarea {
  min-height: 80px;
}
.minpapersform-form td .error {
  font-size: 14px;
  color: #999;
}
.buttonBox {
  padding: 40px 0;
}
.buttonBox button {
  margin-right: 30px;
}
.buttonBox label {
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
  padding-top: 8px;
  margin-left: 5px;
}
.buttonBox input[type="checkbox"] {
  vertical-align: top;
  margin-top: 10px;
}
.footer p {
  font-size: 12px;
  color: #999;
}
.footer p:first-child {
  padding-top: 5px;
}
.sucessTPL div {
  background: #147dc8 none repeat scroll 0% 0%;
  width: 400px;
  margin: 0px auto;
  padding: 10px;
  border-radius: 15px;
  color: #ffffff;
}
.sucessTPL div h4 {
  border-bottom: #fff solid 1px;
  padding-bottom: 10px;
}
.sucessTPL div p {
  color: #fff;
}
.sucessTPL p {
  font-size: 14px !important;
  margin-top: 20px;
}
/*# sourceMappingURL=minpapers.css.map */
