html,
body {
  color: #5b5b5b;
}
ul,
li,
ol {
  list-style: none;
  padding: 0;
}
.oh {
  overflow: hidden;
}
select,
input,
img,
select {
  vertical-align: middle;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #069;
}
body,
input,
button,
select,
textarea {
  color: #555;
}
.center {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.red {
  color: #c8000b;
}
.fff {
  color: #fff;
}
.fffa {
  color: #fff;
}
.h30 {
  height: 30px;
}
.h50 {
  height: 50px;
}
.h70 {
  height: 70px;
}
.Right {
  text-align: right;
}
.Left {
  text-align: left;
}
.Center {
  text-align: center;
}
.clr:after {
  zoom: 1;
}
.clr:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  content: "";
  height: 0;
}
input[type=text] {
  border: none;
}
.ipt {
  width: 100%;
}
.ipt90 {
  width: 90px;
}
.ipt100 {
  width: 100px;
}
.ipt120,
.select120 {
  width: 120px;
}
.select100 {
  width: 100px;
}
.rad {
  color: #c8000b;
}
.gay {
  color: #a0a0a0;
}
.Left {
  text-align: left;
}
.Rright {
  text-align: right;
}
.Center {
  text-align: center;
}
input {
  outline: none;
}
input:-webkit-autofill {
  background-color: transparent !important;
}
input[type=button],
a[type=button],
input[type=submit] {
  display: inline-block;
  padding: 0;
  height: 26px !important;
  background: #d5000c !important;
  border: #9e0000 solid 1px;
  color: #fff !important;
  text-align: center;
  font-size: 14px !important;
  border-radius: 3px;
  margin: 0 3px;
  font-family: "Microsoft YaHei";
  cursor: pointer;
  text-indent: 0;
}
a[type=button] {
  line-height: 26px;
}
input[disabled],
a[disble] {
  background: #fafafa !important;
  border-color: #e0e0e0 !important;
  color: #a0a0a0 !important;
}
input[type=checked] {
  border: none;
}
.btn {
  padding-left: 20px;
  padding-right: 20px;
}
.btn120 {
  width: 120px;
}
.btn90 {
  width: 90px;
}
.pad10 {
  padding: 10px;
}
.pad0050 {
  padding: 0 50px !important;
}
.mgT10 {
  margin-top: 10px;
}
.mgB10 {
  margin-bottom: 10px;
}
.mgB20 {
  margin-bottom: 20px;
}
.mg10 {
  margin: 10px;
}
.mgR500 {
  margin-right: 500px;
}
input[type=button].BIG_BUTTON:hover,
a[type=button].BIG_BUTTON:hover {
  background: #CF960D !important;
}
input[type=button].BIG_BUTTON,
a[type=button].BIG_BUTTON,
input[type=button].BIG_BUTTON:active,
a[type=button].BIG_BUTTON:active {
  min-width: 180px;
  font-size: 20px !important;
  border-color: #C5AD5A;
  color: #FFF !important;
  background: #FFBD20 !important;
  font-weight: bold;
  letter-spacing: 0.3em;
  height: 40px !important;
}
input[type=button][disabled].BIG_BUTTON,
a[type=button][disabled].BIG_BUTTON,
input[type=button][disabled].BIG_BUTTON:active,
a[type=button][disabled].BIG_BUTTON:active {
  background: #ccc !important;
  color: #F8F8F8 !important;
}
.oh {
  overflow: hidden;
}
.iss-lineBox {
  border: #d4d4d4 solid 1px;
  padding: 10px;
  background: #fff;
}
.iss-lineBox h4 {
  background: #F4F4F4;
  margin: -10px;
  padding: 8px;
  margin-bottom: 10px;
  color: #c00;
  font-size: 14px;
  border-bottom: #d4d4d4 solid 1px;
}
textarea {
  font-size: 12px;
}
input[type=text],
select,
textarea {
  border: none;
  border: #d4d4d4 solid 1px;
  height: 18px;
  line-height: 18px;
  padding: 3px 2px;
}
select {
  padding: 0;
  height: 24px;
  border: none;
  border: #d4d4d4 solid 1px;
}
input[type=radio],
input[type=checkbox] {
  margin-left: 10px;
}
input[type=radio]:first-child,
input[type=checkbox]:first-child {
  margin-left: 0;
}
/*# sourceMappingURL=push.css.map */
